<div class="col-xs-12 col-sm-6 col-md-8 col-lg-12">
    <p>
        <a href="http://www.mealsonwheelsandmore.org/" target ="_blank">
            <img src="../images/MOWAM-logo.jpg" alt="Meals on Wheels and More" width="142" height="59"/>
        </a>
        <br/>
        <br/>
        <br/>
        <a href="https://www.familyeldercare.org/" target ="_blank">
            <img src="../images/familyEldercare.png" alt="Family Eldercare" width="116" height="52" />
        </a>
        <br/>
        <br/>
        <br/>
        <a href="https://gazellefoundation.org/" target ="_blank">
            <img src="../images/gf_logo_2015.png" alt="Gazelle Foundation" width="111" height="100"/>
        </a>
    </p>
</div><!--/.col-xs-6.col-lg-4-->